body
{
	background: #000000;
	color: #FFB000;
	margin-top: 8px;
	margin-left: 16px;
}

#title
{
	font-family: Verdana, Tahoma;
	font-size: 12px;
	color:#00FF00;
	text-align:center;
	font-weight:bold;
}

#s
{
	text-indent:35px;
	width:650px;
}

ul
{
	margin-top:0px;
	margin-bottom:10px;
}

b
{
	color:#00FF00;
}
/* Below is from war3x */

h3
{
	font-size: 16px;
	color: #FFFFFF;
	margin-bottom: 1px;
}

li
{
	margin-bottom: 1px;
	color: #F4D285;
}