body
{
	color:#FFB000;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	background: #000000;
	margin-top: 8px;
	margin-left: 16px;
}

div
{
	color:#FFB000;
}

#title
{
	font-size: 16px;
	color:#00FF00;
	text-align:center;
	font-weight:bold;
}

#s
{
	text-indent:35px;
	width:650px;
}

ul
{
	margin-top:0px;
	margin-bottom:10px;
	color:#FFB000;
}

b
{
	color:#00FF00;
}

h1
{
	font-size:14px;
	color: #FFEEFF;
	border:0;
	margin:0;
	margin-bottom:10px;
}

h3
{
	font-size: 16px;
	color: #FFFFFF;
	margin-bottom: 1px;
}

li
{
	margin-bottom: 1px;
	color: #F4D285;
}

/* Terrorist color */
#t
{
	color:#FF3F3F;
}

/* CT color */
#c
{
	color:#99CCFF;
}

/* Ally color */
#a
{
	color:#4A654A;
}

/* Axis color */
#x
{
	color:#FF3C42;
}

/* Spectator color */
#p
{
	color:#FFFFFF;
}